<div class="wrapper">
  <%= render 'layouts/sidenavbar' %>
  <div class="main_content">
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>  
      <div class="info">
        <% if current_user.admin? %>
          <div style="text-align: right; margin-top: 35px; margin-bottom: 20px; margin-right: 30px;">
            <%= link_to 'New Announcement', new_announcement_path, class:"btn btn-primary" %>
          </div>
        <% end %>
        <div class="row g-3">
          <h3 class="fw-bold">Announcements</h3>
          <% @announcements.each do |announcement| %>
            <div class="col-md-4">
              <div class="card shadow-sm rounded-3">
                <div class="gradient-box">
                  <span class="course-title"><%= announcement.title %></span>
                </div>
                <div class="card-body">
                  <h5 class="card-title mt-2"><%= announcement.title %></h5>
                  <p class="card-text">
                    <%= announcement.content %>
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <%= link_to 'View Details', announcement_path(announcement), class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
