<div class="wrapper">
  <%= render 'layouts/sidenavbar' %>
  <div class="main_content">
      <div class="header">
        <%= render 'layouts/navbar' %>
      </div>  
      <div class="info">
        <div class="well">
          <table class="table">
            <h3 class="fw-bold" style="margin-left: 10px;">Edit Assignment</h3>
            <tbody>
              <%= form_for @assignment do |f| %>
                <tr>
                  <td class="pe-3"><%= f.label :title %></td>
                  <td><%= f.text_field :title, class: "form-control w-50", style:"width:30%;" %></td>
                </tr>
                <tr>
                  <td class="pe-3"><%= f.label :description %></td>
                  <td><%= f.text_area :description, class: "form-control w-50", style:"width:30%;" %></td>
                </tr>
                <tr>
                  <td class="pe-3"><%= f.label :course %></td>
                  <td><%= f.select :course_id, @courses, {}, class: "form-control w-50", style:"width:30%;background-color: white; color: black;" %></td>
                </tr>
                <tr>
                  <td>
                    <span><%= link_to "Back", :back, class:"btn btn-primary" %></span>
                    <span><%= f.submit 'Edit Assignment', class:"btn btn-primary" %></span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>