<style>
  a {
    text-decoration: none !important;
  }
</style>

<div class="sidebar">
  <h2 class="text-center mb-4">LMS App</h2>
  <ul class="list-unstyled px-3">
    <li>
      <%= link_to root_path, class: "nav_item d-block py-2 px-2" do %>
        <i class='bx bx-home-alt'></i> Dashboard
      <% end %>
    </li>

    <% unless current_user.student? %>
      <li>
        <%= link_to terms_path, class: "nav_item d-block py-2 px-2" do %>
          <i class='bx bx-calendar'></i> Terms
        <% end %>
      </li>
    <% end %>

    <li>
      <%= link_to courses_path, class: "nav_item d-block py-2 px-2" do %>
        <i class='bx bx-book'></i> Courses
      <% end %>
    </li>

    <li>
      <%= link_to assignments_path, class: "nav_item d-block py-2 px-2" do %>
        <i class='bx bx-edit'></i> Assignments
      <% end %>
    </li>

    <% if current_user.admin? %>
      <li>
        <%= link_to announcements_path, class: "nav_item d-block py-2 px-2" do %>
          <i class='bx bx-bullhorn'></i> Announcements
        <% end %>
      </li>
      <li>
        <%= link_to users_path, class: "nav_item d-block py-2 px-2" do %>
          <i class='bx bx-user'></i> Users
        <% end %>
      </li>
    <% end %>

    <li>
      <%= link_to calendar_events_path, class: "nav_item d-block py-2 px-2" do %>
        <i class='bx bx-calendar'></i> Calender
      <% end %>
    </li>
  </ul>
</div>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
